In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

# Top 10 ODI Teams - Men

In [2]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
driver = webdriver.Chrome()
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source,'html.parser')

In [4]:
table = soup.find('table',{'class':'table'}).tbody

In [5]:
ranks = []
teams = []
matches = []
points = []
ratings = []
row1 = table.find('tr',{'class':'rankings-block__banner'})
rank = row1.find('td',{'class':'rankings-block__banner--pos'}).text
team_dummy = row1.find('td',{'class':'rankings-block__banner--team-name'})
team = team_dummy.find('span',{'class':'u-hide-phablet'}).text
match = row1.find('td',{'class':'rankings-block__banner--matches'}).text
point = row1.find('td',{'class':'rankings-block__banner--points'}).text
rating = row1.find('td',{'class':'rankings-block__banner--rating u-text-right'}).text.strip()
ranks.append(rank)
teams.append(team)
matches.append(match)
points.append(point)
ratings.append(rating)

rows = table.find_all('tr',{'class':'table-body'},limit=9)
for row in rows:
    rank = row.find('td',{'class':'table-body__cell table-body__cell--position u-text-right'}).text
    team_dummy = row.find('td',{'class':'table-body__cell rankings-table__team'})
    team = team_dummy.find('span',{'class':'u-hide-phablet'}).text
    match_points = row.find_all('td',{'class':'table-body__cell u-center-text'})
    match = match_points[0].text
    point = match_points[1].text
    rating = row.find('td',{'class':'table-body__cell u-text-right rating'}).text
    ranks.append(rank)
    teams.append(team)
    matches.append(match)
    points.append(point)
    ratings.append(rating)
driver.close()

In [6]:
teams = pd.DataFrame({'Rank':ranks,'team':teams,'matches':matches,'points':points,'ratings':ratings})

In [7]:
teams

  Rank          team matches points ratings
0    1       England      44  5,405     123
1    2         India      49  5,819     119
2    3   New Zealand      32  3,716     116
3    4     Australia      36  3,941     109
4    5  South Africa      31  3,345     108
5    6      Pakistan      32  3,254     102
6    7    Bangladesh      34  2,989      88
7    8     Sri Lanka      39  3,297      85
8    9   West Indies      43  3,285      76
9   10   Afghanistan      28  1,549      55

# Top 10 ODI Batsmen & Bowlers - Men

In [8]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
driver = webdriver.Chrome()
driver.get(url)

In [9]:
psoup = BeautifulSoup(driver.page_source,'html.parser')

In [10]:
bat_table1 = psoup.find('div',{'data-title':'ODI Batting Rankings'})
bat_table2 = bat_table1.table.tbody

In [11]:
ranks = []
names = []
teams = []
ratings = []
prow1 = bat_table1.find('div',{'class':'rankings-block__banner'})
rank = prow1.find('div',{'class':'rankings-block__banner--pos'}).text.strip()
prow11 = prow1.find('div',{'class':'rankings-block__banner--player-info'})
name = prow11.find('div',{'class':'rankings-block__banner--name'}).text
team_rating = prow11.find('div',{'class':'rankings-block__banner--nationality'})
team = team_rating.text.strip()
rating = team_rating.find('div',{'class':'rankings-block__banner--rating'}).text
ranks.append(rank)
names.append(name)
teams.append(team)
ratings.append(rating)

prows = bat_table2.find_all('tr',{'class':'table-body'})
for prow in prows:
    rank = prow.find('td',{'class':'table-body__cell table-body__cell--position u-text-right'}).text.strip()
    name = prow.find('td',{'class':'table-body__cell name'}).a.text
    team = prow.find('td',{'class':'table-body__cell nationality-logo'}).text.strip()
    rating = prow.find('td',{'class':'table-body__cell u-text-right rating'}).text
    ranks.append(rank)
    names.append(name)
    teams.append(team)
    ratings.append(rating)

In [12]:
batsmen = pd.DataFrame({'Rank':ranks,'name':names,'team':teams,'ratings':ratings})

In [13]:
batsmen

,Rank,name,team,ratings
0,1,Virat Kohli,IND\n 871,871
1,2,Rohit Sharma,IND,855
2,3,Babar Azam,PAK,829
3,4,Ross Taylor,NZ,818
4,5,Francois du Plessis,SA,790
5,6\n \n\n\n\nThis player has moved up in...,Kane Williamson,NZ,765
6,7\n \n\n\n\nThis player has moved down ...,Aaron Finch,AUS,762
7,8\n \n\n\n\nThis player has moved down ...,David Warner,AUS,759
8,9,Quinton de Kock,SA,755
9,10\n \n\n\n\nThis player has moved up i...,Jonny Bairstow,ENG,754

In [276]:
bowl_table1 = psoup.find('div',{'data-title':'ODI Bowling Rankings'})
bowl_table2 = bowl_table1.table.tbody

In [277]:
ranks = []
names = []
teams = []
ratings = []

p1row1 = bowl_table1.find('div',{'class':'rankings-block__banner'})
rank = p1row1.find('div',{'class':'rankings-block__banner--pos'}).text.strip()
p1row11 = p1row1.find('div',{'class':'rankings-block__banner--player-info'})
name = p1row11.find('div',{'class':'rankings-block__banner--name'}).text
team_rating = p1row11.find('div',{'class':'rankings-block__banner--nationality'})
team = team_rating.text.strip()
rating = team_rating.find('div',{'class':'rankings-block__banner--rating'}).text
ranks.append(rank)
names.append(name)
teams.append(team)
ratings.append(rating)




p1rows = bowl_table2.find_all('tr',{'class':'table-body'})
for prow in p1rows:
    rank = prow.find('td',{'class':'table-body__cell table-body__cell--position u-text-right'}).text.strip()
    name = prow.find('td',{'class':'table-body__cell name'}).a.text
    team = prow.find('td',{'class':'table-body__cell nationality-logo'}).text.strip()
    rating = prow.find('td',{'class':'table-body__cell u-text-right rating'}).text
    ranks.append(rank)
    names.append(name)
    teams.append(team)
    ratings.append(rating)
driver.close()

In [278]:
bowlers = pd.DataFrame({'Rank':ranks,'name':names,'team':teams,'ratings':ratings})

In [279]:
bowlers

,Rank,name,team,ratings
0,1,Trent Boult,NZ\n 722,722
1,2,Jasprit Bumrah,IND,719
2,3,Mujeeb Ur Rahman,AFG,701
3,4\n \n\n\n\nThis player has moved up in...,Chris Woakes,ENG,675
4,5,Kagiso Rabada,SA,665
5,6\n \n\n\n\nThis player has moved up in...,Pat Cummins,AUS,659
6,7\n \n\n\n\nThis player has moved up in...,Mohammad Amir,PAK,657
7,8\n \n\n\n\nThis player has moved down ...,Josh Hazlewood,AUS,654
8,9\n \n\n\n\nThis player has moved up in...,Matt Henry,NZ,641
9,10\n \n\n\n\nThis player has moved down...,Jofra Archer,ENG,637