In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://www.imdb.com/india/top-rated-indian-movies/'
driver = webdriver.Chrome()
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source,'html.parser')

In [4]:
results = soup.find('table',{'class':'chart full-width'})

In [5]:
titles = []
ratings = []
years = []
for item in results.find_all('tbody'):
    rows = item.find_all('tr',limit=100)
    for row in rows:
        title = row.find('td',{'class':'titleColumn'}).a.text
        rating = row.find('td',{'class':'ratingColumn imdbRating'}).text.strip()
        year = row.find('td',{'class':'titleColumn'}).span.text
        titles.append(title)
        ratings.append(rating)
        years.append(year)
driver.close()

In [6]:
table = pd.DataFrame({'title':titles,'rating':ratings,'year':years})

In [7]:
table.tail()

                          title rating    year
95         Lage Raho Munna Bhai    8.0  (2006)
96                      Deewaar    8.0  (1975)
97                       Indian    8.0  (1996)
98  Dilwale Dulhania Le Jayenge    8.0  (1995)
99  Baahubali 2: The Conclusion    8.0  (2017)

In [59]:
table.to_csv('top_100_indian_movies.csv',encoding='utf-8')